<div class="col-12">
  <div class="container text-overlay">
    <h1>Welcome to Placement Cell</h1>
    <h4>Your gateway to a successful career</h4>
    <a href="/dpc/jobportal" class="btn btn-primary btn-get-started ms-15"
      >Get Started</a
    >
  </div>
</div>
